.dress-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sort-container {
  position: relative;
  margin-right: 20px;
}

.sort-button {
  background-color: #897077;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-button::after {
  content: '\25BE';
  margin-left: 10px;
}

.sort-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  display: none;
}

.sort-dropdown.show {
  display: block;
}

.sort-dropdown button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background-color: transparent;
  text-align: right;
  width: 100%;
  cursor: pointer;
}

.sort-dropdown button:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 5px;
    overflow-x: auto;
  }

  .sort-button {
    font-size: 0.5rem;
    white-space: nowrap;
  }

  .sort-dropdown {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    min-width: 200px;
    max-height: 95%; /* הגדלת הגובה המקסימלי */
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    display: none;
    padding: 15px;
  }

  .sort-dropdown.show {
    display: block;
  }

  .sort-dropdown button {
    padding: 10px 15px;
    font-size: 0.9rem;
    height: auto;
    text-align: right;
    width: 100%;
  }
}