.dress-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  min-height: 80vh;
  padding-bottom: 60px;
  position: relative;
}

body {
  zoom: 87%;
}

.card {
  width: calc(25% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 300px; 
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sort-container {
  position: relative;
  margin-right: 20px;
}

.sort-button {
  background-color: #897077;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-button::after {
  content: '\25BE';
  margin-left: 10px;
}

.sort-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  border-radius: 5px;
  display: none;
}

.sort-dropdown.show {
  display: block;
}

.sort-dropdown button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background-color: transparent;
  text-align: right;
  width: 100%;
  cursor: pointer;
}

.sort-dropdown button:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 10;
  width: 100%;
}

.pagination button {
  background-color: #897077;
  border: none;
  color: #fff;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8rem;
}

.pagination button:hover,
.pagination button.active {
  background-color: #6a535a;
}

.pagination button.active {
  font-weight: bold;
}

.dress-list-container > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: 768px) {
  .filter-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      padding: 0 5px;
      overflow-x: auto;
  }

  .sort-button {
      font-size: 0.5rem;
      white-space: nowrap;
  }

  .sort-dropdown {
      position: fixed;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 400px;
      min-width: 200px;
      max-height: 95%;
      overflow-y: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      border-radius: 5px;
      display: none;
      padding: 15px;
  }

  .sort-dropdown.show {
      display: block;
  }

  .sort-dropdown button {
      padding: 10px 15px;
      font-size: 0.9rem;
      height: auto;
      text-align: right;
      width: 100%;
  }

  .card {
      width: calc(50% - 20px);
      margin: 10px;
      display: flex;
      flex-direction: column;
  }

  .card img {
      max-height: 550px;
  }

  .card-body {
      flex-grow: 3;
      padding: 0.0001px;
  }

  .card-title {
      font-size: 0.9rem;
  }

  .card-text,
  .card-price {
      font-size: 0.7rem;
  }

  .card-body .btn {
      font-size: 0.6rem;
      padding: 2px 6px;
  }
}

.sort-container .counter {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  background-color: #897077;
  color: white;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 0.8rem;
  z-index: 1;
}

.sort-container.open .counter {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.7rem;
  background-color: #897077;
  color: white;
  padding: 5px 8px;
  border-radius: 50%;
  z-index: 2;
}