.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px; 
    width: auto; 
    margin-right: 15px; 
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
